{% extends 'blog/header.html' %}

{% block content %}

<div class='min-h-screen bg-secondary text-four dark:bg-primarydark dark:text-text-dark'>

    <div class="max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 text-lg  mt-10">
        <div class="p-4">
          <h1 class="text-2xl font-bold mb-4">Welcome to PythonTxT!</h1>
          <p class="text-gray-700 mb-4">PythonTxT is free and accessible platform that offers a variety of Python projects, tutorials, and explanations of key concepts and technologies in an easy-to-understand way. As a passionate Python programmer, I created this website with the goal of sharing my knowledge and helping others learn and grow in their programming skills. Whether you're a beginner or an experienced programmer, my website has something for you. I'm excited to have you on board and look forward to helping you achieve your programming goals.</p>
        </div>
        <div class="p-4 mx-auto">
          <img src="https://via.placeholder.com/500x500" alt="About us image" class="rounded-lg shadow-lg">
        </div>
    </div>
          
</div>


{% endblock %}