{% extends 'blog/header.html' %}

{% block content %}
<div class="bg-secondary  text-four  dark:bg-primarydark dark:text-text-dark min-h-screen">
    <div class="relative overflow-hidden">   
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="relative mx-auto max-w-[37.5rem] pt-20 text-center pb-24">
            <h1 class="text-4xl font-extrabold tracking-tight text-slate-900 sm:text-5xl">Privacy policy</h1>
            <p class="mt-4 text-base leading-7 text-slate-600">Last updated on March 11, 2023</p>
        </div>
    </div>
    <div class="relative px-4 sm:px-6 lg:px-8 ">
        <div class="mx-auto max-w-5xl prose-sm prose prose-slate prose-a:font-semibold  text-four  dark:bg-primarydark dark:text-text-dark min-h-screen mb-20 text-lg"> 

            <p>At PythonTXT, we take your privacy seriously. This privacy policy explains how we collect, use, and protect your personal information when you use our website.</p>
                            
            <h2 class='text-four'>Information We Collect</h2>
            <p>When you visit our website, we may collect certain information about your device and browsing activity. This may include your IP address, browser type and version, operating system, and other technical details. We may also use cookies and similar technologies to collect data about your usage patterns and preferences.</p>

            <h2 class='text-four'>How We Use Your Information</h2>
            <p>We use the information we collect to improve our website and provide better services to our users. This may include personalizing content and advertisements, analyzing website traffic, and monitoring user engagement. We may also use your information to respond to your inquiries and provide customer support.</p>

            <h2 class='text-four'>Third-Party Services</h2>
            <p>We may use third-party services, such as Google AdSense, to display advertisements on our website. These services may collect information about your browsing activity to display ads that are relevant to your interests. We do not have control over these third-party services and their privacy policies may differ from ours. Please refer to their respective privacy policies to <a class='text-four dark:text-text-dark' href="https://policies.google.com/privacy?hl=en">learn more</a>.</p>

            <h2 class='text-four'>Data Retention</h2>
            <p>We retain your personal information only as long as necessary to fulfill the purposes for which it was collected. We may also retain your information for legal or regulatory purposes, or as required by our business operations.</p>

            <h2 class='text-four'>Security</h2>
            <p>We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction. However, please note that no data transmission over the internet or electronic storage is completely secure.</p>

            <h2 class='text-four'>Changes to this Policy</h2>
            <p>We may update this privacy policy from time to time to reflect changes in our business practices or legal obligations. We encourage you to periodically review this policy to stay informed about how we protect your privacy.</p>

            <h2 class='text-four'>Contact Us</h2>
            <p>If you have any questions or concerns about this privacy policy, please contact us at 
                <a class='text-four dark:text-text-dark' href="mailto:pythontxtmail@gmail.com">pythontxtmail@gmail.com</a>.
            By using our website, you consent to the terms of this privacy policy.</p>         
        </div>
    </div>
    </div>
</div>

{% endblock %}