<footer class='bg-primary text-four text-center  dark:bg-primarydark1 dark:text-four'>
  <div class="items-center lg:max-w-6xl p-4 rounded-lg shadow md:flex  md:justify-between md:p-6 mx-auto break-words ">
    <span class="text-sm">
      © 2023 <a href="http://127.0.0.1/#" class="hover:underline">PythonTXT</a>. All Rights Reserved.
    </span>
    <ul class="flex justify-center items-center text-sm  content-center">
      <li>
        <a href="http://127.0.0.1/privacy-policy/" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
      </li>
      {% comment %} <li>
        <a href="http://127.0.0.1/blog/" class="mr-4 hover:underline md:mr-6 ">Blog</a>
      </li> {% endcomment %}
      <li>
        <a href="http://127.0.0.1/contact/" class="mr-4 hover:underline md:mr-6">Contact</a>
      </li>
      <li>
        <a href="http://127.0.0.1/about/" class="hover:underline">About</a>
      </li>
    </ul>
  </div>
</footer>
